* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}



.page1 {
    background: url('image/Background.png') ;
    height: 100vh;
    background-size: cover;
    position: relative;
    display:flex ;
    align-items: center;
}

.page1 .wrapper {
    margin: 0 auto;
    width: 900px;
}

.h1p1  {
    font-size: 64px;
    color: #ffffff;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.btn {
    text-align: center;
    padding-top: 30px;
}

button {
    background: none;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border: 3px solid #ffffff;
    font-size: 25px;
    border-radius: 50px;
    transition: .6s;
    cursor: pointer;
    outline: none;
}


button:active {
    box-shadow: 0 5px #808080;
    transform: translateY(10px);
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.page2 {
    box-shadow: inset 300px 0px 100px -50px #24E5FF, inset -300px 0px 200px -50px #24E5FF;
    height:calc(90vh - 150px);
    background-size: cover;
    position: relative;
}

.page2 .wrapper {
    margin: 0 auto;
    width: 800px;
}

.about-me {
    padding-top: 40px;
    text-align: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .hero-image img {
    transition: 300ms;
    position: relative;
}

header .hero-image img:hover {
    transform: scale(1.1);
}

header p {
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    width: 500px;
}

.h1p2 {
    font-size: 40px;
    color: #50BFFD;
}

.toolbox {
    background-color: #E2F5FF;
    height:200px;
    background-size: cover;
    position: relative;
    display:flex ;
    align-items: center;
}

.toolbox img {
    transition: 300ms;
    position: relative;
}

.toolbox img:hover {
    transform: scale(1.1);
}

.wrapper {
    margin: auto;
}

.hedder {
    height:calc(80vh - 190px);
    position: relative;
    display:flex ;
    align-items: center;
}


.page3 {
    background:  url('image/BGShape.svg');
    box-shadow: inset 700px 0px 500px -50px #24E5FF;
    height:calc(100vh - 150px);
    background-size: cover;
    position: relative;
}

.projects-div{
    height: 58vh;
    background-size: cover;
    display:flex ;
    align-items: center;
}

.projects{
    background-color: #ffffff;
    height:500px;
    width: 800px;
    display:flex;
    flex-wrap: wrap;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #d4d4d4;
    align-items: center;
    justify-content: center;
}

.projects img{
    height: 240px;
    width: 395px;
}

.projects img {
    transition: 300ms;
    position: relative;
}

.projects img:hover {
    transform: scale(1.1);
}

.toolbox2{
    background-color: #ffffff;
    height:200px;
    background-size: cover;
    position: relative;
    display:flex ;
    align-items: center;
    text-align: center;
}

.toolbox2 img {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.toolbox2 p {
    font-size: 24px;
    font-weight: 350;
}

.CONTACT{
    margin-top: 50px;
    font-size: 40px;
    color: #ffffff;
}
